# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/
# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
coverage/
*.lcov
.cache/
.tmp/

# Build outputs
dist/
build/

# OS specific
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp

# Debugging
*.tgz
*.gz
